.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}

.chat:hover{
    opacity: 0.8;
}

.chat-avatar{
    height: 35px !important;
    width: 35px !important;
}

.chat-readIcon{
    color:red
}

.chat-info{
    padding-left: 5px;
    flex: 1;
}

.chat-info > h4{
    font-size: 14px;
    font-weight: 500;
}

.chat-info > p{
    font-size: 11px;
}




